*{
    margin: 0;
}
html{
    background-image: url("../images/background-image.jpg");
    background-attachment: fixed;
    background-size: cover;
}

p {
    color: white;
    padding: 20px;
    display: flex;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22;
}

h2{
    text-align: center;
    color: maroon;
    padding: 20px;
    border: 3px solid black;
}

header{
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    top: 0;
    width: 100vw;
    border: 20px;
    background-color: azure;
    justify-content: space-around;
    color: maroon;

}

h1{
    text-align: center;
    color: maroon;
    border: 3px solid black;
    padding: 20px;
    background-color: azure;
    margin-top: 50px;
}


  @media screen and (max-width: 900px) { 
        header {
            width: 100%;
            display: block;
        } 
    }

header nav a{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: maroon;
    text-align: center;
    font-size: 20px;
    margin-block-start: 0.65em;
    margin-inline-end: 0.65em;
}

#transbox1, #transbox2, #transbox3{
    border: 1.5px solid beige;
    padding: 10px;
    background-color: grey;
    margin: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    max-width: 100%;
    height: auto;
    margin: 2%;
}

@media screen and (max-width: 900px) {
    img{
        margin: 0;
    }
}