html{
    background-image: url("../images/background-image.jpg");
    background-attachment: fixed;
    background-size: cover;

}

p {
    color: white;
    padding: 20px;
    display: flex;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

h2{
    text-align: center;
    color: maroon;
    padding: 20px;
    border: 3px solid maroon;
}

header{
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    border: 2px solid whitesmoke;
    padding: 20px;
    background-color: azure;
    text-align: center; 
    color: maroon;
    margin: 0%;
}

nav{
    display: block;
}

nav a{
    padding: 20px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: maroon;
    text-align: center;
}

#transbox1, #transbox2, #transbox3{
    border: 1.5px solid beige;
    padding: 10px;
    background-color: grey;
    margin: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#transbox1{
    margin-top: 200px;
}

img{
    max-width: 100%;
    height: auto;
}